@model Labb2LINQ.Models.StudentCourse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentCourse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Students.FirstMidName)
            @Html.DisplayFor(model => model.Students.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentCourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
