@model IEnumerable<Labb2LINQ.Models.SchoolViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            <th>
                @Html.DisplayNameFor(model => model.TeacherFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherLName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherLName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SchoolViewModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SchoolViewModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SchoolViewModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
