@model IEnumerable<Labb2LINQ.Models.SchoolViewModel>

@{
    ViewData["Title"] = "GetStudents";
}

<h1>GetStudents</h1>
<p>Students currently taking programmering1 and their teacher</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherLName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.StudentFName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.StudentLName)
                </td>
                  <td>
                    @Html.DisplayFor(modelitem => item.TeacherFName)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.TeacherLName)
                </td>
            </tr>
        }      
    </tbody>
</table>